@import '@/styles/Main.scss';

.section {
  padding: 0 0 60px;
}

.container {
  @include container;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;

  @media (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  align-items: center;
  background-color: $gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
}

.image {
  width: 100%;
}

.img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.caption {
  padding: 20px;
  width: 100%;
}

.name {
  color: $black;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  @include text;
  margin-bottom: 20px;

  strong {
    font-weight: 700;
  }
}

.btn {
  @include btn;
  margin-top: 30px;
}